@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container py-5">
    <form method="post" asp-controller="Firm" asp-action="ResetPassword">
        <h1 class="display-6 mb-2">重置密碼</h1>
        <input type="hidden" name="EmailAddress" value="@ViewBag.EmailAddress" />
        <div class="mb-3">
            <label for="oldPassword" class="form-label">舊密碼</label>
            <input name="oldPassword" id="oldPassword" type="password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">新密碼</label>
            <input name="newPassword" class="form-control" id="newPassword">
        </div>
        <div class="mb-3">
            <label for="checkNewPasswordAgain" class="form-label">再次確認新密碼</label>
            <input class="form-control" id="checkNewPasswordAgain">
        </div>
        <button type="submit"  class="btn btn-outline-success">儲存</button>
    </form>
</div>
