@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    @{
        string wwwRootPath = WebHostEnvironment.WebRootPath;
        string firmImgFolder = System.IO.Path.Combine(wwwRootPath, "img", "firmpage");
        int firmImgsLen = Directory.GetFiles(firmImgFolder).Length;
        int startFirmImgNum = 60000;

        <div class="row gap-1">
            @{
                for (int i = startFirmImgNum; i < startFirmImgNum + firmImgsLen; i++)
                {
                    string firmImgsPath = $"/img/firmpage/{i}.jpg";
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="@firmImgsPath" class="card-img-top" alt="@i">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
