<link href="~/css/Home/Privacy.css" rel="stylesheet" asp-append-version="true">
<div class="AboutUsBackground">
    <section class="container">

        @*關於我們*@
        <div class="row p-5 d-flex align-items-center">
            <div class="col-3">
                <div class="row p-5 d-flex justify-content-center">
                    <div class="AboutUsLogo col-3 fw-bolder">關於我們</div>
                </div>
            </div>
            <div class="col-9">
                <div class="AboutUsContent row d-flex  justify-content-center">
                    <p class="AboutUsText col-8 lh-lg">本網站建立在2023/07/25，由一群資展國際的學生合力製作。資展國際是資策會在完成階段性培訓任務後，承續對學員的服務和滿足產業對資通訊及數位轉型人才的殷切需求所創立。其學生為滿足市場需求進行創意發想，利用上課所學技術，走訪市場調查並結合需求，實作出一個能夠滿足目前消費型態之甜點購物網站。經由各方支持及努力而成功以完整的姿態服務所有熱愛甜點的人，並提供一個透明公開的平台，讓甜點製作能夠擁有更開闊的舞台向世界一同感受甜點的喜悅。
                    </p>
                 </div>
            </div>
        </div>
        <hr />

        @*隱私權聲明*@
        <div class="row d-flex align-items-center text-center">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="AboutUsLogo col-12 fw-bolder">隱私權聲明</div>
                    <div class="AboutUsContent row d-flex  justify-content-center">
                        <div class="AboutUsText col-8 my-3">菓Go，為了讓您能夠安心使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益並立即生效，請您詳閱下列內容：</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">一、隱私權保護政策的適用範圍</div>
                        <div class="PrivacyText col-8 my-3">隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">二、個人資料的蒐集、處理及利用方式</div>
                        <ul class="PrivacyText col-8 my-3">
                            <li>當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。</li>
                            <li>本網站在您使用服務信箱、電話等功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式等。</li>
                        </ul>
                        <div class="AboutUsText col-8 my-3 fw-bold">三、資料之保護</div>
                        <div class="PrivacyText col-8 my-3">只由經過授權的人員才能接觸您的個人資料，如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">四、網站對外的相關連結</div>
                        <div class="PrivacyText col-8 my-3">本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">五、與第三人共用個人資料之政策</div>
                        <div class="PrivacyText col-8 my-3">本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。<br />前項但書之情形包括不限於：</div>
                        <ul class="PrivacyText col-8 my-3">
                            <li>經由您書面同意。</li>
                            <li>法律明文規定。</li>
                            <li>為免除您生命、身體、自由或財產上之危險。</li>
                            <li>與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集著依其揭露方式無從識別特定之當事人。</li>
                            <li>違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。</li>
                            <li>有利於您的權益。</li>
                            <li>本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。</li>
                        </ul>
                        <div class="AboutUsText col-8 my-3 fw-bold">六、Cookie之使用</div>
                        <div class="PrivacyText col-8 my-3">為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的COOKIE，若您不願接受COOKIE的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕COOKIE的寫入，但可能會導至網站某些功能無法正常執行 。</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">七、隱私權保護政策之修正</div>
                        <div class="PrivacyText col-8 my-3">本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。</div>
                        <div class="AboutUsText col-8 my-3 fw-bold">八、資料之查閱與刪除</div>
                        <ul class="PrivacyText col-8 my-3">
                            <li>會員能隨時在網站的會員帳號查看授權的姓名與電郵資料，並且僅作為商店會員、訂單資料的內容。</li>
                            <li>商店依照本人請求，可透過商店右上角聯絡我們管道提出刪除、停止使用該個人資料的要求。</li>
                            <li>相關需求可來信至GoSweet@gmail.com或是24小時客服:09-89564628</li>
                        </ul>
                     </div>
                </div>
            </div>
        </div>

    </section>
</div>