@using Newtonsoft.Json;
@model GoSweet.Models.ViewModels.ResetPasswordVm;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Head{
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
}

<div class="container py-5">
    <form method="post" asp-controller="Home" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="display-6 mb-2">重置密碼</h1>
        <input asp-for="EmailAddress" type="hidden" value="@Model.EmailAddress" />
        <div class="mb-3">
            <label asp-for="NewPassword"  class="form-label">新密碼</label>
            <input asp-for="NewPassword" type="password"  class="form-control" >
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CheckNewPassword" class="form-label">再次確認新密碼</label>
            <input asp-for="CheckNewPassword" type="password" class="form-control" >
            <span asp-validation-for="CheckNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">儲存</button>
    </form>
</div>

@section Scripts{
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/messageAlert.js"></script>

    @*舊密碼不相等訊息*@
    @if (TempData["CheckPasswordNotEqualMessage"] != null)
    {
        <script>
            let CheckPasswordNotEqualMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["CheckPasswordNotEqualMessage"]));
            showSwal('error', 'Change Password Status', CheckPasswordNotEqualMessage);
        </script>
    }
}
