/*logo*/
img.GoSweetLogo {
    width: 150px;
    height: 70px;
    object-fit:cover;
}

/* link */
.nav-link {
    cursor: pointer;
    transition: background-color 0.5s;
    display:inline-block;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.1);
}



