<style>
    .talk-member:hover {
        opacity: .5;
    }
</style>
<script>
    console.log('test')
    //點選廠商顯示聊天內容
    function changecolor(order) {
        // jquery background寫法
        // var ex = $(order)
        // ex.css( "background", "blue" );
        if (order.style.backgroundColor == 'rgb(149, 213, 255)') {
            // 已點過聊天室列表
            order.style.backgroundColor = 'white';
            document.getElementById('chat').style.display = "none";
            document.getElementById('chattitle').style.visibility = "hidden";
            document.getElementById('startchat').style.display = "block";
        } else {
            // 未點過聊天室列表
            order.style.backgroundColor = 'rgb(149, 213, 255)';
            document.getElementById('chat').style.display = "block";
            document.getElementById('chattitle').style.visibility = "visible";
            document.getElementById('startchat').style.display = "none";
            $('#chat').empty()
            console.log($(order).find('.fname').text())
            $.post('/test3/gethistory', { talkperson: $(order).find('.fname').text() })
                .done(function (data) {
                    let data2 = JSON.parse(data)
                    //清空聊天室內容
                    $('.chat').empty()
                    $('.title').text($(order).find('.fname').text())
                    console.log(data2[0].person)
                    //判斷頁面使用者 <50000代表客戶
                    if (data2[0].person < 50000) {
                        $(data2).each(function () {
                            //post = 0 代表客戶發言
                            if (this.post == 0) {
                                $('.chat').append(`
                                    <div style="width: 100%;  text-align: right; margin-top: 20px;" >
                                        <div style="color: white; background-color: dodgerblue; max-width: 70%; font-size: 28px; border-radius: 20%; padding: 10px; margin: 10px; display: inline-block; ">
                                            <label for="" style="text-align: left;">${this.message}</label>
                                        </div>
                                        <div style=" margin-right: 30px; ">
                                                <label for="">${this.time}</label>
                                        </div>
                                     </div>
                                    `)


                            }
                        })
                    }
                })
        }

    }
    $(function () {

        $('.messagebutton').on('click', function () {
            console.log($('.messageinput').val())


            //獲得現在時間並排序好
            const date = new Date();

            let seconds = date.getSeconds();
            let minutes = date.getMinutes();
            let hours = date.getHours();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();

            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day} ${hours}:${minutes}`;
            console.log(currentDate);

            //將文字欄內容新增至聊天室

            $('.chat').append(`
                    <div style="width: 100%;  text-align: right; margin-top: 20px;" >
                        <div style="color: white; background-color: dodgerblue; max-width: 70%; font-size: 28px; border-radius: 20%; padding: 10px; margin: 10px; display: inline-block; ">
                            <label for="" style="text-align: left;">${$('.messageinput').val()}</label>
                        </div>
                        <div style=" margin-right: 30px; ">
                            <label for="">${currentDate}</label>
                        </div>
                    </div>
                `)

            //聊天室滾到最下面
            $('.chat').scrollTop($('.chat').height() + 99999)
        })

        //清空聊天室
        // $('.chat').empty()


        //從後端取得聊天室列表
        $.get('/test3/getfirmlist').done(function (data) {
            console.log(data)
            let data2 = JSON.parse(data)
            $('.flist').empty()

            $(data2).each(function () {
                $('.flist').append(`
                           <div class="row talk-member" style="margin: 10px;" onclick="changecolor(this)">
                               <div class="col-4 ">
                                   <img src="${this.fpic}" style="width: 100%; border-radius: 100%;" alt="">
                               </div>
                               <div class="col-6">
                                   <div style="margin-top: 30px;">
                                           <label for="" style="font-size: 28px;" class="fname">${this.fname}</label>
                                   </div>
                               </div>
                               <div class="col-2 ">
                                    <div style="margin-top: 30px;">
                                    </div>
                                </div>
                           </div>
                        `)
            })

        })

    })

</script>

<body>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div style="border: 1px solid #ccc; box-shadow: 0 0 10px #ddd; margin-top: 20px;">
                    <h2 style="margin-left: 40px;">聊天室</h2>
                </div>
                <div class="row" style="border: 1px solid #ccc; box-shadow: 0 0 10px #ddd;  margin-top: 20px;">
                    <!-- 左邊欄位 -->
                    <div class="col-4 " style="margin-top: 20px;">
                        <!-- 搜尋欄 -->
                        <div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="輸入廠商名稱"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">搜尋</button>
                            </div>
                        </div>
                        <!-- 廠商列表 -->
                        <div class="flist">
                            <!-- 廠商一號 -->
                            <div class="row talk-member" style="margin: 10px;" onclick="changecolor(this)">
                                <div class="col-4 ">
                                    <img src="/img/order/廠商.jpg" style="width: 100%; border-radius: 100%;" alt="">
                                </div>
                                <div class="col-8">
                                    <div style="margin-top: 30px;">
                                        <label for="" style="font-size: 28px;">巴特里</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 廠商二號 -->
                            <div class="row talk-member" style="margin: 10px;" onclick="changecolor(this)">
                                <div class="col-4 ">
                                    <img src="/img/order/廠商2.jpg" style="width: 100%; border-radius: 100%;" alt="">
                                </div>
                                <div class="col-8">
                                    <div style="margin-top: 30px;">
                                        <label for="" style="font-size: 28px;">麥之鄉</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- 右邊欄位 -->
                    <div class="col-8" style=" border-left: 1px solid #ccc; box-shadow: 0 0 10px #ddd;">
                        <!-- 聊天室標頭 -->
                        <div id="chattitle" style="text-align: center; margin-top: 20px; visibility: hidden;">
                            <label for="" style="font-size: 28px;" class="title">巴特里</label>
                        </div>
                        <!-- 聊天室外框 -->
                        <div style="margin:20px ; border: 1px solid #ccc; box-shadow: 0 0 10px #ddd; height: 500px; ">
                            <!-- 聊天內容 -->
                            <div id="chat" style="display:none; height: 500px;" class="overflow-y-scroll chat">
                                <div style="width: 100%;  text-align: right; margin-top: 20px;">

                                    <div style="color: white; background-color: dodgerblue; max-width: 70%; font-size: 28px; border-radius: 20%; padding: 10px; margin: 10px; display: inline-block; ">
                                        <label for="" style="text-align: left;">我收到貨打開後發現不是爆醬餐包</label>
                                    </div>
                                    <div style=" margin-right: 30px; ">
                                        <label for="">2023/07/01 13:40</label>
                                    </div>
                                </div>

                                <div style="width: 100%; margin-top: 20px;">
                                    <div style="border: 2px solid #ccc; max-width: 70%; font-size: 28px; border-radius: 20%; padding: 10px; margin: 10px; display: inline-block; ">
                                        <label for="">抱歉造成您的困擾，我們會在今日重新寄送商品給您</label>
                                    </div>
                                    <div style=" margin-left: 30px; ">
                                        <label for="">2023/07/01 13:45</label>
                                    </div>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                                <div style="width: 100%; margin-top: 20px;">
                                    <div style="border: 2px solid #ccc; max-width: 70%; font-size: 28px; border-radius: 20%; padding: 10px; margin: 10px; display: inline-block; ">
                                        <label for="">抱歉造成您的困擾，我們會在今日重新寄送商品給您</label>
                                    </div>
                                    <div style=" margin-left: 30px; ">
                                        <label for="">2023/07/01 13:45</label>
                                    </div>
                                </div>


                            </div>
                            <div id="startchat" style="text-align: center; margin-top: 100px; display: block;">
                                <label for="" style="font-size: 28px; color: rgb(153, 153, 153);">選擇廠商開始聊天吧</label>

                            </div>
                        </div>


                        <!-- 聊天輸入欄 -->
                        <div>
                            <div class="input-group mb-3" style="margin:20px;height: 50px; width: 95%; ">
                                <input type="text" class="form-control messageinput" placeholder="輸入聊天內容">
                                <button class="btn btn-outline-secondary messagebutton" type="button">送出</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>