@model student_test
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <form asp-controller="StudentsClass" asp-action="Delete" method="post">
        <input type="hidden" asp-for="id">

        <label class="form-label" asp-for="name">name</label>
        <input class="form-control" type="text" asp-for="name"  disabled/>

        <label class="form-label" asp-for="student_id">student_id</label>
        <input class="form-control" type="text" asp-for="student_id" disabled/>

        <label class="form-label" asp-for="city">city</label>
        <input class="form-control" type="text" asp-for="city"  disabled/>

        <label class="form-label" asp-for="chinese">chinese</label>
        <input class="form-control" type="text" asp-for="chinese" disabled/>

        <label class="form-label" asp-for="math">math</label>
        <input class="form-control" type="text" asp-for="math"  disabled/>

        <button class="btn btn-danger" type="submit">Delete</button>
        @Html.ActionLink("Back to StudentsClass","Index","StudentsClass")
    </form>
</div>
