@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string? currentController = @ViewContext.RouteData.Values["controller"]!.ToString();
}

<!-- Vertically centered scrollable modal -->
<!-- Modal -->
<div class="modal fade " id="ForgetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">忘記密碼?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="@currentController" asp-action="SendMail">
                    <label class="form-label">輸入你註冊會員的電子信箱</label>
                    <input name="emailAddress" type="email" class="form-control resetEmailInputBox" required />
                    <p class="mt-2">完成後，請依密碼重設信執行即可登入。</p>
                    <hr />
                    <div class="mt-2 d-flex justify-content-end">
                        <button type="submit" class="btn btn-success me-2 sendResetEmailBtn">重設密碼</button>
                        @*spinner*@
                        <button class="btn btn-success d-none me-2" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

