@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string? currentController = @ViewContext.RouteData.Values["controller"]!.ToString();
}

<div class="home-icon-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        @if (currentController == "Home")
        {
            <a class="ms-3 mb-3 btn btn-secondary" asp-controller="Home" asp-action="Login">
                Back To Login >>
            </a>
        }
        else
        {

            <a class="ms-3 mb-3 btn btn-secondary" asp-controller="Firm" asp-action="Login">
                Back To Login >>
            </a>
        }

        @if (!currentController!.Equals("Home")) { 
            <a class="home-icon me-3 mb-3 d-flex justify-content-center align-items-center" asp-controller="Firm" asp-action="HomePage">
                <i class="bi bi-house-door-fill"></i>
            </a>
        }
        @if (!currentController.Equals("Firm"))
        {
            <a class="home-icon me-3 mb-3 d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        }
    </div>
</div>

