@*自製引用*@
<link href="~/css/Revenue-Manufacturers.css" rel="stylesheet" asp-append-version="true" />
<script src="~/js/Revenue-Manufacturers.js" asp-append-version="true"></script>

@*Chart.js引用*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@*axios引用*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    <div class="row d-flex justify-content-around rounded bg-light">
        <div class="col-11 m-3 h2">檢視表</div>
        <div class="col-12 col-xl-5 my-3">
            <div class="row">
                <div class="row mx-1 shadow rounded d-flex justify-content-around" id="Revenue_Review">
                    <div class="col-12 m-3 h3 border-bottom">
                        <!-- ★★★★★收入-支出★★★★★ -->
                        結餘:<span id="Balance" class="performance-number fw-bold">@ViewData["Revenue"]</span>
                    </div>
                    <div class="col-6 my-3 h4 text-center">
                        <!-- ★★★★★收入相加★★★★★ -->
                        收入:<span id="Revenue" class="performance-number">@ViewData["Income"]</span>
                    </div>
                    <div class="col-6 my-3 h4 text-center">
                        <!-- ★★★★★支出相加★★★★★ -->
                        支出:<span id="Expenses" class="performance-number">@ViewData["Expenses"]</span>
                    </div>
                </div>
                <div class="row mt-3 mx-1 shadow rounded">
                    <!-- ★★★★★查詢設定★★★★★ -->
                    <form class="col-12 my-3 h5 d-flex justify-content-around">
                        <input type="date" placeholder="開始日期" name="StartDate" value=@ViewData["Start"]>
                        ~
                        <input type="date" placeholder="結束日期" name="EndDate" value=@ViewData["End"]>
                        <button type="button" class="btn btn-secondary btn-sm">搜索</button>
                    </form>
                    <div class="btn-group my-3 d-flex align-items-center" role="group"
                         aria-label="Basic radio toggle button group">
                        <div class="col-2 text-center">X軸: </div>
                        <input type="radio" class="btn-check" name="X-axis" id="X-axis-Date" autocomplete="off" checked value="XDate">
                        <label class="btn btn-outline-secondary" for="X-axis-Date">日期</label>
                        <input type="radio" class="btn-check" name="X-axis" id="X-axis-Product" autocomplete="off" value="XProduct">
                        <label class="btn btn-outline-secondary" for="X-axis-Product">產品</label>
                        <input type="radio" class="btn-check" name="X-axis" id="X-axis-Type" autocomplete="off" value="XType">
                        <label class="btn btn-outline-secondary" for="X-axis-Type">種類</label>
                        <input type="radio" class="btn-check" name="X-axis" id="X-axis-Group" autocomplete="off" value="XGroup">
                        <label class="btn btn-outline-secondary" for="X-axis-Group">直購/團購</label>
                    </div>
                    <div class="btn-group my-3 d-flex align-items-center" role="group"
                         aria-label="Basic radio toggle button group">
                        <div class="col-2 text-center">Y軸: </div>
                        <input type="radio" class="btn-check" name="Y-axis" id="Y-axis-Quantity" autocomplete="off" value="YQuantity">
                        <label class="btn btn-outline-secondary" for="Y-axis-Quantity">數量</label>
                        <input type="radio" class="btn-check" name="Y-axis" id="Y-axis-Total" autocomplete="off" value="YTotal" checked>
                        <label class="btn btn-outline-secondary" for="Y-axis-Total">總額</label>
                    </div>
                    <div class="btn-group my-3 d-flex align-items-center" role="group"
                         aria-label="Basic radio toggle button group">
                        <div class="col-2 text-center">圖型: </div>
                        <input type="radio" class="btn-check" name="Chart_type" id="BarChart" autocomplete="off" checked value="bar">
                        <label class="btn btn-outline-secondary" for="BarChart">長條圖</label>
                        <input type="radio" class="btn-check" name="Chart_type" id="LineChart" autocomplete="off" value="line">
                        <label class="btn btn-outline-secondary" for="LineChart">折線圖</label>
                        <input type="radio" class="btn-check" name="Chart_type" id="pieChart" autocomplete="off" value="pie">
                        <label class="btn btn-outline-secondary" for="pieChart">圓餅圖</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 my-3 rounded shadow">
            <div class="row  d-flex justify-content-around align-items-center text-center">
                <div class="col-12 h4 mt-3">統計圖表</div>
                <canvas class="m-3" id="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="SearchList row my-3 d-flex justify-content-around rounded bg-light bg-light rounded">
        <div class="col-11">
            <div class="col-12 m-3 h2 ">詳細列表</div>
            <ul class="nav nav-tabs nav-fill h3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                            role="tab" aria-controls="home" aria-selected="true">
                        全部
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">
                        收入
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                            role="tab" aria-controls="contact" aria-selected="false">
                        支出
                    </button>
                </li>
            </ul>
            <div class="tab-content h5 my-3" id="myTabContent">
                <!-- ★★★★★需要廠商訂單數★★★★★ -->
                <div class="tab-pane fade show active table-responsive" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col-1">#</th>
                                <th scope="col-1">日期</th>
                                <th scope="col-3">事項</th>
                                <th scope="col-1">訂單編號</th>
                                <th scope="col-2">訂單狀態</th>
                                <th scope="col-1">單價</th>
                                <th scope="col-1">數量</th>
                                <th scope="col-1">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>9999/12/31</td>
                                <td>收入9999999</td>
                                <td>AA123456789</td>
                                <td>已出貨</td>
                                <td>999,999</td>
                                <td>999,999</td>
                                <td>999,999</td>
                            </tr>
                            <!-- <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>fat</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td colspan="2">Larry the Bird</td>
                                  <td>twitter</td>
                                </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- ★★★★★需要廠商訂單數★★★★★ -->
                <div class="tab-pane fade table-responsive" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col-1">#</th>
                                <th scope="col-1">日期</th>
                                <th scope="col-3">事項</th>
                                <th scope="col-1">訂單編號</th>
                                <th scope="col-2">訂單狀態</th>
                                <th scope="col-1">單價</th>
                                <th scope="col-1">數量</th>
                                <th scope="col-1">小計</th>
                                <th scope="col-1">總額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>9999/12/31</td>
                                <td>收入9999999</td>
                                <td>AA123456789</td>
                                <td>已出貨</td>
                                <td>999,999</td>
                                <td>999,999</td>
                                <td>999,999</td>
                                <td>999,999</td>
                            </tr>
                            <!-- <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>fat</td>
                            </tr>
                            <
                              <th scope="row">3</th>
                              <td colspan="2">Larry the Bird</td>
                              <td>twitter</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- ★★★★★需要廠商訂單數★★★★★ -->
                <div class="tab-pane fade table-responsive" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">日期</th>
                                <th scope="col">事項</th>
                                <th scope="col">訂單編號</th>
                                <th scope="col">訂單狀態</th>
                                <th scope="col">單價</th>
                                <th scope="col">數量</th>
                                <th scope="col">小計</th>
                                <th scope="col">總額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>9999/12/31</td>
                                <td>收入9999999</td>
                                <td>AA123456789</td>
                                <td>已出貨</td>
                                <td>999,999</td>
                                <td>999,999</td>
                                <td>999,999</td>
                                <td>999,999</td>
                            </tr>
                            <!-- <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td colspan="2">Larry the Bird</td>
                              <td>twitter</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>