/*body {
    display: flex;
    background-color: #F7F1F0;
    margin: 0;
    padding: 0;
}*/

.card.proCard {
    /* margin-left: 80px; */
    /* background-color: #c3a6a0; */
    background-color: white;
    /* margin: auto; */
    margin-left: 80px;
    margin-top: 30px;
}

.card.proCard h5 {
    margin-top: 10px;
}

.card.proCard .card-body {
    margin: 0;
    padding: 0;
}

.card.proCard.card-body span {
     margin-right: 50px;
}

.result_top {
    /* background-color:aqua; */
    width: 100%;
    height: 100px;
}

    .result_top h2 {
        line-height: 100px;
        padding-left: 30px;
        margin-right: auto;
    }

.btn.result {
    width: 100%;
    background-color: #A15C38;
}

.sort {
    text-align: center;
    line-height: 30px;
    height: 50px;
    /* height: 100%; */
    padding: 10px 15px;
    background-color: #A15C38;
    margin-right: 30px;
    margin-top: 30px;
    color: #F7F1F0;
    font-size:25px;
    /* border-radius: 20%; */
}

    .sort:hover {
        cursor: pointer;
        background-color: #c3a6a0;
    }

/*.row > * {
    padding-left: 0;
    padding-right: 0;
}*/

.card-body > .padd {
    padding-left: 10px;
}

a.btn.result {
    color: #F7F1F0;
}

    a.btn.result:hover {
        background-color: #c3a6a0;
    }

/* ------------------------------------------- */
.productData img {
    padding-left: 50px;
}

.d-flex a.result {
    padding: 5px 20px;
    background-color: #A15C38;
    color: #F7F1F0;
    margin: auto;
}

.introduce {
    font-size: 28px;
}

/* ------------------------------------------ */
