<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>@ViewData["Title"] - GoSweet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/custom.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoSweet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/LoginSignUp/homeIcon.css" asp-append-version="true" />
    @if (IsSectionDefined("Head"))
    {
        @await RenderSectionAsync("Head", required:true);
    }


    @*
    third party package
    *@
    <link rel="stylesheet" href="~/lib/splidejs/css/splide.min.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" />*@

</head>
<style>
    body{
        overflow:hidden;
    }
</style>

<body>
    <main role="main" >
        @RenderBody()
    </main>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }

</body>
</html>
