<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - backend</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/backend.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar">
        <header>
            <button class="button"> <a href="~/Backend/MainPage">後台管理首頁</a></button>
            <button class="button"><a href="~/Backend/ItemPage">物品資訊設置頁</a></button>
            <button class="button"><a href="~/Backend/FirmPage">廠商資訊頁面</a></button>
            <button class="button"><a href="~/Backend/CustomPage">會員資訊頁面</a></button>
            <button class="button"><a href="~/Backend/banned">停權名單設置</a></button>
        </header>
    </div>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <hr />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
