#ProductSearchContent {
    background-color: #f7f1f0;
    font-size: 28px;
    padding:2%;
}


/*搜尋欄邊框*/
#block {
    padding: 2%;
    padding-left: 9%;
    padding-top: 6%;
    background-color: #fff;
}

/*排序條件按鈕設定*/
    #selectbutton button {
    border: 0px; /* 去除邊框 */
    padding: 8px;
    background-color: #c3a6a0e1;
}
    #selectbutton button:hover {
        background-color: #c3a6a09a;
    }
    #all {
    border: 0px; /* 去除邊框 */
    padding: 8px;
    background-color: #c3a6a0e1;
}
    #all:hover {
        background-color: #c3a6a09a;
    }
/*排序條件按鈕設定 end */

/*團購排序按鈕設定*/
#buyall {
    border: 0px; /* 去除邊框 */
    padding: 8px;
    background-color: #c3a6a0e1;
}
#buyall:hover {
    background-color: #c3a6a09a;
}
/*團購排序按鈕設定 end */

    /*上一頁 下一頁按鈕設定*/
    #pre {
    border: 0px; /* 去除邊框 */
    padding: 8px;
    background-color: #c3a6a0e1;
}
    #pre:hover {
        background-color: #c3a6a09a;
    }
#next {
    border: 0px; /* 去除邊框 */
    padding: 8px;
    background-color: #c3a6a0e1;
}
#next:hover {
    background-color: #c3a6a09a;
}
/*上一頁 下一頁按鈕設定 end */

/* 標題文字 */
#search {
    font-size: 55px;
}

/*搜尋列表*/
.table_change {
    /*table格式*/
    text-align: center;
    margin: auto;
    width: 100%;
    margin: 1rem 0;
}

thead {
    background-color: #c3a6a0;
    th{
    color: #fff;
    font-weight: bold;
        }
}

.buydate {
    font-size: 18px;
}

/* 頁碼 */
#pagenumber {
    margin-left: 33%;
}

/*商品搜尋 重設按鈕設定*/
#firmSearchButton {
    background-color: #c3a6a0e1;
    margin-left: 40%;
    border-radius:5%;
    padding:0.8%;
    border:0px
}
#firmReset {
    background-color: #c3a6a0e1;
    margin-left: 1%;
    border-radius: 5%;
    padding: 0.8%;
    border:0px
}
#firmSearchButton:hover {
    background-color: #c3a6a09a;
}

#firmReset:hover {
    background-color: #c3a6a09a;
}