#firmDataContent {
    font-size: 22px;
    background-color: #f7f1f0;
    padding: 2%;
}

#marketdata {
    font-size: 40px;
}

#content{
    padding: 2%;
    padding-left: 5%;
    background-color: #ffff;

}

/* 廠商資料文字 設定 */
#editdata {
    background-color: #ffff;
    border: none;
}