/* customize */
.chat-section {
    position:absolute;
    bottom:25px;
    right:30px;
    transform:scaleY(0);
    transition-duration: 0.5s;
    transform-origin:bottom center;
    width:700px;
}


.remote-user > img{
   height:50px; 
   width:50px;
   object-fit:cover;
}

.chat-text {
    font-size:16px;
}
.chat-left {
    height:300px;
    overflow-y:scroll;
}
.chat-panel {
    height:300px;
    overflow-y: scroll;
}

.chat-section-show {
    transform:scaleY(1);
}
