/* customize */
.chat-section {
    position:absolute;
    bottom:80px;
    right:25px;
    transform:scaleY(0);
}
.search-list img {
    object-fit:cover;
}

.chat-text {
    font-size:16px;
}

.chat-panel {
    height:300px;
    overflow-y: scroll;
}

.chat-section-show {
    width:700px;
    height:300px;
    animation: chatPop;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    transform-origin:right bottom;
}
@keyframes chatPop {
    0% {
        transform:scaleY(0);
    }
    100% {
        transform:scaleY(1);
    }
}

/*.chat-close {
    background-color: rgba(0,0,0,0.2);
}
*/
