/*customize*/
.shopCart-dropdown-menu {
    position:absolute;
    top:20px;
    right:10px;
    transform:scaleY(0);
    transition-duration:0.5s;
    transform-origin:top center;
}

.shopCart-dropdown-menu-show {
    transform: scaleY(1);
    /*    animation: growDown 0.5s ease-in-out forwards;
    transform-origin: top center;
}*/
}

.shopCart-dropdown-menu img{
    width:50px;
    height:50px;
    object-fit:cover;
}

.info-icon {
 font-size:30px
}

/*@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}*/


