/* customisze sidebar */
.sideBar-section {
    width:0;
    position:fixed;
    right:0;
    top:0;
    height:100%;
    z-index:1040;
    overflow-x:hidden;
    transition:all 0.5s;
    opacity:0;
    padding:0;
/*    padding-right:0 !important;
    padding-left:0 !important;
*/}

.sideBar-section-show {
    width:280px;
    opacity:1;
    padding:30px;
}

.GoSweetLogo {
    width: 50px;
    height: 50px;
}

/*sideBar Section*/
.sideBar-section {
    color:white;
    background-color:rgba(0,0,0,0.4);
}
.sidebarClose {
    cursor:pointer;
    padding:5px;
    transition:all 0.2s;
}
.sidebarClose:hover {
    color:black;
    background-color:rgb(255, 255, 255);
}

.userLoginBtn, .userSignUpBtn, .userInfoBtn {
    color:white;
    transition:all 0.5s;
}

.userLoginBtn:hover, .userSignUpBtn:hover, .userInfoBtn:hover {
    background-color: rgba(0,0,0,0.1);
}
