@{
    Layout = "BE_Layout";
}
<link rel="stylesheet" href="~/css/Backend/BE-Banned.css" asp-append-version="true" />

<body>
    <div class="container">
        <div class="data-view">
            <div class="data-view-title">廠商停權 停權原因</div>
            <!-- 添加廠商停權的相关内容 -->
            <div class="button-wrapper">
                <button class="recovery-button">恢復</button>
            </div>
        </div>
        <div class="data-view">
            <div class="data-view-title">會員停權 停權原因</div>
            <!-- 添加會員停權的相关内容 -->
            <div class="button-wrapper">
                <button class="recovery-button">恢復</button>
            </div>
        </div>
    </div>
</body>