@{
    Layout = "_LayoutBE";
}
<link rel="stylesheet" href="~/css/Backend/BE-ItemPage.css" asp-append-version="true" />

<body>
    <div class="outer-container">
        <div class="inner-container">
            <input type="text">
            <button class="viewbutton">搜尋</button>
        </div>
        <div class="dataview-container">
            <div class="dataview">
                <div class="dataview-text">物品資訊設置</div>
            </div>
        </div>
        <div class="dataview-container">
            <div class="dataview">
                <div class="dataview-text">上下架物品</div>
            </div>
            <button class="viewbutton">下架</button>
            <button class="viewbutton">刪除</button>
        </div>
    </div>
</body>

