@{
    Layout = "_LayoutBE";
}
<link rel="stylesheet" href="~/css/Backend/BE-MainPage.css" asp-append-version="true" />

<body>
    <div class="container">
        <div class="dataview">
            活躍廠商
            <button class="databutton">停權按鈕</button>
        </div>
        <div class="dataview">
            活躍會員
            <button class="databutton">停權按鈕</button>
        </div>
        <div class="dataview">
            停權廠商
            <button class="databutton">恢復按鈕</button>
        </div>
        <div class="dataview">
            停權會員
            <button class="databutton">恢復按鈕</button>
        </div>
    </div>
</body>

