.home-icon-section .home-icon {
    font-size:25px;
    color:black;
    width:40px;
    height:40px;
    border-radius:50%;
    transition: background-color 0.5s;
}

.home-icon-section .home-icon:hover {
    background-color:rgba(0,0,0,0.2);
}
