/*body {
    overflow:hidden;
}*/
.form-title-box {
    padding:0 150px;
}

.loginBtn:hover,
.signUpBtn:hover{
   background-color: rgba(0,0,0,0.1); 
}

/*.login-section {
    position:relative;
}*/


