

.btn-hover-bg:hover {
   background-color:rgba(0,0,0,0.2) ;
}

/* product rank*/
/*.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}*/

/*.product-rank-section {
    height:250px
}
*/


.product-category-title {
    font-size:1.5rem;
}


.product-rank-small-title {
    font-size: 1.3rem;
}

.product-rank-card .product-card-title {
    font-size:1.4rem;
}

.product-rank img {
    width:100%;
    height:250px;
    object-fit:cover;
}

.product-rank-hover-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.2);
    opacity:0;
    transition:all 1s;
}


.product-rank-card:hover .product-rank-hover-content {
    opacity:1;
}

.product-rank-hover-content  .btnGo {
    padding:5px 30px;
}


.news-paragraph-title{
    font-size:2rem;
}

.news-paragraph-content > p {
    text-indent:2rem;
}


/*
.product-rank img{
    width:100%;
    height:100%;
    object-fit:cover;
}
*/

/*.splide__arrow {
    background-color:#ff6a00;
    color:white;
}*/
