<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!-- 最外端分割 -->
        <div class="row" >
            <div class="col-2"></div>
            <div class="col-8" >
                
                <div style="background-color: rgb(255, 190, 104); margin-top: 50px;">
                    <h2 style="margin-left: 50px;" >修改會員資料</h2>
                </div>
                <!-- 外框設定 -->
                <div class="row"  style="border-style:solid; border-color: darkgoldenrod; border-width: 5px; margin-top: 50px; padding-bottom: 50px;
                margin-bottom: 50px;" >
                    <!-- 內部分割 -->
                    <div class="col-2"></div>
                    <div class="col-8" >
                        <div style="margin-top: 30px; background-color: lightgray;">
                            <h2 style="margin-left: 50px;" >個人資料</h2>
                        </div>
                        <!-- 表單內容 -->
                        <div>
                            <form>
                                <div class="mb-3">
                                  <label for="" style="font-size: 32px;">姓名</label>
                                  <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="" style="font-size: 32px;">住址</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="" style="font-size: 32px;">手機電話</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="" style="font-size: 32px;">電子信箱</label>
                                    <input type="email" class="form-control">
                                </div>
                                

                                
                                
                        <div style="margin-top: 50px; background-color: lightgray;">
                            <h2 style="margin-left: 50px;" >帳號資料</h2>
                        </div>
                        
                                <div class="mb-3">
                                  <label for="" style="font-size: 32px;">帳號</label>
                                  <input type="text" class="form-control" value="account" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="" style="font-size: 32px;">密碼</label>
                                    <label for="" style="font-size: 32px;">(
                                        <a href="/changePW?45567">更改密碼</a>
                                    )</label>
                                    <input type="password" class="form-control" value="123456789">
                                </div>
                                <div class="text-center" style="margin-top: 30px;">
                                    <div>
                                        <label for="" style="font-size: 32px;">(
                                            <a href="/logistics/?10237">常用物流設定</a>
                                        )</label>
                                    </div>
                                    <div>
                                        <label for="" style="font-size: 32px;">(
                                            <a href="/paymentflow?34428">常用金流設定</a>
                                        )</label>
                                    </div>
                                </div>
                                <div class="row text-center" style="margin-top: 50px;"  >
                                    <div class="col-6" >
                                        <button type="submit" class="btn btn-primary btn-lg"  >儲存設定</button>

                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary btn-lg">取消設定</button>

                                    </div>
                                </div>
                              </form>
                        </div>
                            
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>   
</body>
</html>